.gameResults {
  color: white;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.winnerImage {
  display: block;
  width: 100%;
  margin: auto;
  text-align:center;
}

.endImg {
    border: 3px solid white;
    border-radius: 50%;
}
