<div class="banner"> 
  <div class="banner-content">
    <div class="banner-item-left">
      <h1>A new way to test your knowledge of Cinema.</h1>
      <p>Play the TasteMaker quiz and challenge your friends </p> 
      <div class="d-flex justify-content-left pr-4">
        <% if current_user.nil? %>
          <br>
          <%= link_to "Sign Up", new_user_registration_path, class:'btn-gradient w-75' %> 
        <% else %>
          <%= form_tag("/games", method: "post") do %>
            <%= submit_tag("Create a Lobby", class:'btn-gradient', style: 'width: 23em;') %>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="banner-item-right">
    </div>
  </div>
</div>
