<h1>Welcome to TasteMaker Quiz App</h1>

<%= form_tag("/games", method: "post") do %>
  <%= label_tag(:q, "Challenge by Email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Challenge") %>
<% end %>
