
<div class="container my-5" style="margin: auto auto;">
  <div class="d-flex justify-content-center align-items-center" style="max-width: 1200px;">
    <div class="form-content">
      <h1 class = "text-center mb-5" style="font-weight: 600; color: white; font-family: 'Poppins', sans-serif;">Are you ready?</h1>
      <%= link_to "I'm ready", start_game_path(@game), method:'PATCH', class: 'btn btn-gradient'%>
    </div>
  </div>
</div>


