<div class="form-content mt-3 mx-3 p-5" style="background-color: #282a36;">
  <h4 style = "color: white; font-family: Poppins; font-weight: 600; text-align: center;"><%= winner.name %> has won this round!</h4> 
</div>
