<div class="scorebox-top-grid" id="host-score">
  <% @game.game_questions.order(:order_number).each do |question| %>
    <% if question.user == @game.host %>
      <div class="one-box active">
      </div>
    <% elsif question.user == @game.player %>
      <div class="one-box wrong">
        -
      </div>
    <% else %>
      <div class="one-box">
      </div>
    <%end%>
  <% end %> 
  <div>
  </div>
</div>
