<div class="scoreboard">
  <div>
    <div class="name-score">
      <h4 id="host-name"><%= @game.host.name.upcase%></h4>
      <%= render "scoreboxes" %>
    </div>
  </div>
  <div>
    <div class="name-score">
      <h4 id="player-name"><%= @game.player.name.upcase%> </h4>
      <%= render "playerscoreboxes" %>
    </div>
  </div>
</div>
