<div class="form-content">
    <div class="inside-form">
      <%= render "scoreboard" %>
        <iframe src="https://player.vimeo.com/video/<%= @game_question.question.link %>?autoplay=1&muted=1#t=40s"
                class="responsive-iframe"
                width="640"
                height="360"
                frameborder=“0”
                allowfullscreen
                allow=autoplay>
        </iframe>
        <div id="answers">
          <% @game_question.question.all_answers.shuffle.each_with_index do |ans, index| %>
              <%= link_to ans, game_answer_path(@game, current_user,{answer: ans}), method: "PATCH", remote: true, :class => "btn btn-gradient answerOptions answer-grow" %>
          <% end %>
        </div>
    </div>
</div>
