<div class="container">
    <iframe src="https://player.vimeo.com/video/<%= @game_question.question.link %>?autoplay=1&muted=1#t=40s" 
            width="640" 
            height="360" 
            frameborder=“0” 
            allowfullscreen 
            allow=autoplay>
    </iframe>
    <% @game_question.question.all_answers.shuffle.each do |ans|%>
      <p>
        <%= link_to ans, game_answer_path(@game, current_user,{answer: ans}), method: "PATCH" %>
      </p>
    <% end %>   
</div>
