<div id="leaderboard" class="container mt-5">
  <h2>Leader Board</h2>
    <div class="row"></div>
      <div class="col-12 d-flex justify-content-center">
        <table class="table table-dark mt-4">
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Total Score</th>
          </tr>
          <% @sorted.each do |user| %>
            <% unless user.score.nil?  %>
            <tr>
              <td>#<%= @sorted.index(user) + 1%></td>
              <td><%= user.name %></td>
              <td><%= user.score %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
  </div>
</div>
