<div id="leaderboard">
  <h2>Leader Board</h2>
    <table class="leader-table table-dark">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Total Score</th>
      </tr>
      <% @sorted.each do |user| %>
        <tr>
          <td>#<%= @sorted.index(user) + 1%></th>
          <td><%= user.name %></th>
          <td><%= user.score %></th>
        </tr>
      <% end %>
    </table>
</div>
