<h1> Games Show page </h1>
<h3> #games_controller -> games#show</h3>
<p>
<%= @game.host.name %> vs. <%= @game.player.name %>
</p>
<div class="container">
  <ol>
  <% @gamequestions.each do |x| %>
    <li>
      <%= x.question.link %>
      <ul>
      <% x.question.all_answers.each do |answer| %>
          <li style="display:inline-block; margin: 10px 10px;">
            <%= answer %>
          </li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ol>
</div>
