<div id="gameInfo" data-game-id = "<%=@game.id%>">

<div id="mainbody">
  <% if @game.status == "waiting"%> 
    <%= render "waiting" %>
  <% elsif @game.status == "started"%>
    <%= render "started" %>
  <%else%>
    <%= render "completed" %>
  <%end%>
</div>
</div>
