.banner {
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  margin: 2rem 0;
  background-color: #282a36;
  color: white;
}
.banner h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 20px;
  color: rgb(146, 149, 151);
}

.banner-content{
  margin: none;
  display: flex;
  justify-content: space-around;
  position: relative;
  border-radius: 5px;
  flex-wrap: wrap;
}
 
.banner-item-right{
  margin: 3rem;
  align-items: right;
  padding: 1rem;
}
.banner-item-left{
  margin: 3rem;
  padding: 1rem;
}
