.banner {
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  margin: 2rem 0;
  background-color: #282a36;
  color: white;
}
.banner h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 20px;
  color: rgb(146, 149, 151);
}

.banner-content{
  position: relative;
  margin: 0 50px;
  width: 75%;
  border-radius: 5px;
  display: flex;
}
 
.banner-item-right{
  flex: 0 0 55%;
  overflow: auto;
}
.banner-item-left{
  margin: 3rem;
  padding: 1rem;
}
