.banner {
  background-size: cover;
  background-position: center;
  background-color: #282a36;
  color: white;
}
.banner h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 20px;
  color: rgb(146, 149, 151);
}

.banner-content{
  margin: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
 
.banner-item-right{
  margin: 3rem;
  background: #44475a;
  padding: 2rem;
  border-radius: 5px;
  h1 {
    margin-bottom: 2rem;
    font-weight: 600;
  }
}
.banner-item-left{
  margin: 3rem;
}
.games-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  .game-card {
    background: #6272a4; 
    padding: 1rem;
    border-radius:5px;
  }
}
