.accept-button {
  background-color: #50fa7b;
  width: 50%;
  padding: 3px;
  border-radius: 10px;
}

.decline-button {
  background-color: #ff5555;
  width: 50%;
  padding: 3px;
  border-radius: 10px;
}

.loginForgot {
  border-bottom: 1px solid #dadde1;
}

.btn-gradient {
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background: #bd93f9;
  cursor: pointer;
  font-weight: bold;
  text-decoration:none;
}

.btn-gradient:hover {
  background: linear-gradient(#bd93f9,rgb(250,147,249));
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
}

#forgotButton {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

