.accept-button {
  background-color: #4BD964;
  width: 50%;
  border: white 1px solid;
  padding: 3px;
  border-radius: 10px;
}

.decline-button {
  background-color: #E50915;
  width: 50%;
  border: white 1px solid;
  padding: 3px;
  border-radius: 10px;
}

.btn-gradient {
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background: rgb(58, 134, 249);
  transition: background 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

