.navbar-lewagon {
  justify-content: space-between;
  background: #282a36;
  color: white;
  h2 {
  font-family: Poppins;
  color:white;
  font-weight: 600;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.show {display:block;}
