.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
  background: #282a36;
  color: white;
  h2 {
  font-family: Poppins;
  font-weight: 600;
  }
}
.navbar-lewagon:hover {
  background: #282a36;
}

.dropdown-item:hover {
  background: #282a36;
  color: white;
}
.dropdown-item {
  background: #282a36;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.notification-div:hover {
  background-color: #282a36;
}

.show {display:block;}

.title{
  color: #50fa7b;
  transition: color .2s ease-in-out;
}

.title:hover {
  color: white;
}

