.scoreboard {
  color: white;
  height: 100px;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  h4 {
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }
  div {
    display: flex;
    font-size: 2rem; 
  }
  h1{ 
    font-weight: 600;
    color: #ff5555;
  }
  .name-score {
    display:flex;
    flex-direction: column;
    text-align: center;
    
    h4{
      font-weight: 600;
    }

    p {
      font-weight: 900;
    }
  }
  .num-score-host {
    border: 2px solid #bd93f9;
    display: flex;
    margin-right:10px;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 5px;
    @media(max-width: 700px){
      margin-top: 4px;
    }
}
  .num-score-player {
    border: 2px solid #bd93f9;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 5px;
    @media(max-width: 700px){
      margin-top: 4px;
    }
  }

  .responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #player-name {
    color: white;
  }
  #host-name {
    color: white;
  }
  #winner {
    color: teal;
  }
  .fa-smile {
    color: green;
  }
  .fa-frown {
    color: red;
  }
  .fas{
    font-size: 20px;
  }
  .score-host-container {
    @media(max-width: 700px) {
      flex-direction: column-reverse;
      align-items: center !important; 
    }
  }
  .score-player-container {
    @media(max-width: 700px) {
      flex-direction: column;
      align-items: center !important; 
    }
  }
}

@media(max-width: 700px) {
  .responsive-iframe{
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
  }
  .turns-left{
    display: none;
  }
  .name-score {
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

