.scorebox-top-grid {
  display: grid;
  .one-box {
    width:35px;
    height: 35px;
    border: 2px #bd93f9 solid;
    @media (max-width: 900px){
      width: 27px;
      height: 27px;
    }
    @media (max-width: 660px){
      width: 20px;
      height: 20px;
    }
    @media (max-width: 450px){
      width: 15px;
      height: 15px;
    }
  }
  .active {
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  }
  .wrong {
    background: #44475a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


