.scoreboard {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  div {
    display: flex;
    font-size: 2rem; 
  }
  h1{ 
    font-weight: 600;
    color: #ff5555;
  }
  .name-score {
    display:flex;
    flex-direction: column;
    text-align: center;
    
    h4{
      font-weight: 600;
    }

    p {
      font-weight: 900;
    }
  }
  .responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #player-name {
    color: white;
  }
  #host-name {
    color: white;
  }
  #winner {
    color: teal;
  }
  .fa-smile {
    color: green;
  }
  .fa-frown {
    color: red;
  }
  .fas{
    font-size: 20px;
  }
}
@media(max-width: 900px) {
  .responsive-iframe{
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
  }
  .turns-left{
    display: none;
  }
  .name-score {
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

