.scoreboard {
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  div {
    display: flex;
    font-size: 2rem; 
  }
  #player-name {
    color: white;
  }
  #host-name {
    color: white;
  }
  #winner {
    color: teal;
  }
  .fa-smile {
    color: green;
  }
  .fa-frown {
    color: red;
  }
  .fas{
    font-size: 20px;
  }
}



