// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/scores";
@import "components/form";
@import "components/button";
@import "components/banner";
@import "components/table";
@import "components/scoreboxes";
@import "components/game_layout";

.grow { 
transition: all .2s ease-in-out; 
}

.grow:hover { 
transform: scale(1.1); 
}

.answer-grow { 
  transition: all .2s ease-in-out; 
  cursor: pointer;
}

.answer-grow:hover {
  transform: scale(0.95);
}
